.box {
    /* background-image: url('../../images/transparent.jpg'); */
    width: 130px;
    height: 130px;
    border: 5px solid black;
    margin: 10px 0px;
}

@media all and (max-width: 600px) {
    .box {
        width: 100px;
        height: 100px;
    }
}